<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>/WEB-INF/view/index.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>log4jConfiguration</param-name>
        <param-value>log4j2.xml</param-value>
    </context-param>
    <resource-ref>
        DB Connection
        <res-ref-name>jdbc/airline</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <filter>
        <filter-name>RequestFilter</filter-name>
        <filter-class>ua.epam.airline.filters.RequestFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AccessFilter</filter-name>
        <filter-class>ua.epam.airline.filters.AccessFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RequestFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AccessFilter</filter-name>
        <url-pattern>/destinations</url-pattern>
        <url-pattern>/flights</url-pattern>
        <url-pattern>/shuttleFlights</url-pattern>
        <url-pattern>/aircrafts</url-pattern>
        <url-pattern>/flightPersonnel</url-pattern>
        <url-pattern>/FlightController/*</url-pattern>
        <url-pattern>/ShuttleFlightsController/*</url-pattern>
        <url-pattern>/AirportController/*</url-pattern>
        <url-pattern>/AircraftController/*</url-pattern>
        <url-pattern>/EmployeeController/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>ua.epam.airline.controllers.RoutingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlightController</servlet-name>
        <servlet-class>ua.epam.airline.controllers.FlightCRUDController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShuttleFlightController</servlet-name>
        <servlet-class>ua.epam.airline.controllers.ShuttleFlightCRUDController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AirportController</servlet-name>
        <servlet-class>ua.epam.airline.controllers.AirportCRUDController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AircraftController</servlet-name>
        <servlet-class>ua.epam.airline.controllers.AircraftCRUDController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeController</servlet-name>
        <servlet-class>ua.epam.airline.controllers.EmployeeCRUDController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
        <url-pattern>/index</url-pattern>
        <url-pattern>/login</url-pattern>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/setlang</url-pattern>
        <url-pattern>/flights</url-pattern>
        <url-pattern>/destinations</url-pattern>
        <url-pattern>/shuttleFlights</url-pattern>
        <url-pattern>/aircrafts</url-pattern>
        <url-pattern>/flightPersonnel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlightController</servlet-name>
        <url-pattern>/FlightController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShuttleFlightController</servlet-name>
        <url-pattern>/ShuttleFlightsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AirportController</servlet-name>
        <url-pattern>/AirportController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AircraftController</servlet-name>
        <url-pattern>/AircraftController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeController</servlet-name>
        <url-pattern>/EmployeeController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
